<div style="padding: 50px;">
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[13]"
    [center]="[21.473357677459717, 49.744935501921]"
    (load)="mapLoad($event)">

    <mgl-marker
      *ngFor="let feature of geojson.features"
      [feature]="feature"
    >
      <div *ngIf="feature.properties.isDamaged; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div
          (click)="alert(feature)"
          class="marker-damaged"
          >
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div
          (click)="clicked(feature)"
          class="marker"
          >
          </div>
        </ng-template>
    </mgl-marker>

  </mgl-map>
</div>
