mgl-map {
    height: 500px;
}

.main-map {
  padding: 100px;
}

.marker {
    background-image: url('../../assets/lamp.png');
    background-size: cover;
    width: var(--my-var);
    height: var(--my-var);
    border-radius: 50%;
    cursor: pointer;
  }

  .marker-damaged {
    background-image: url('../../assets/lamp-red.png');
    background-size: cover;
    width: var(--my-var);
    height: var(--my-var);
    border-radius: 50%;
    cursor: pointer;
  }

  .marker-highlighted {
    background-image: url('../../assets/lamp-highlighted.png');
    background-size: cover;
    width: var(--my-var);
    height: var(--my-var);
    border-radius: 50%;
    cursor: pointer;
  }