<!-- <mat-card> -->
  <form class="form" [formGroup]="formGroup">
    <mat-form-field class="input-field">
      <mat-label>Imię</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="surname">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Numer kontaktowy</mat-label>
      <input matInput formControlName="contactNumber">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Numer latarnii</mat-label>
      <input matInput value="17v463" disabled formControlName="lanternNumber">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="formGroup.pristine || formGroup.invalid" type="submit" class="button">Wyślij zgłoszenie</button>
  </form>
<!-- </mat-card> -->