.admin-table {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.mat-table {
    width: 100%;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}

.action-button {
  margin-right: 10px;
}
